# Ignore the .env file with sensitive information
.env

# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo

# Jupyter/Colab Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment folders
venv/
.env/
.venv/

# System files
.DS_Store
Thumbs.db

# Log files
*.log

# Temporary files
*.tmp
*.swp
*.bak
*.old

# Secret configuration files
secrets.json